<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nenu.market.mapper.studentFrom.StudentFromMapper">

    <resultMap id="studentFrom" type="com.nenu.market.entity.studentFrom.StudentFrom">
        <result property="city_year" column="city_year"/>
        <result property="city_name" column="city_name"/>
        <result property="education_yon" column="education_yon"/>
        <result property="city_studentFrom" column="city_studentFrom"/>
        <result property="province" column="province"/>
    </resultMap>

    <select id="listStudentFrom" resultMap="studentFrom">
        SELECT `city_name`, `city_year`,`education_yon`, `city_studentFrom`,`province`
        FROM `t_city`, `t_province`
        where t_city.city_name = t_province.city
    </select>

    <select id="Select1" resultMap="studentFrom">
        SELECT `city_name`, `city_year`,`education_yon`, `city_studentFrom`,`province`
        FROM `t_city`, `t_province`
        where t_city.city_name = t_province.city AND education_yon = #{studentFrom.education_yon} AND city_year = #{studentFrom.city_year} AND(city_name LIKE #{studentFrom.city_name} OR province LIKE #{studentFrom.city_name})
    </select>

    <select id="Select2" resultMap="studentFrom">
        SELECT `city_name`, `city_year`,`education_yon`, `city_studentFrom`,`province`
        FROM `t_city`, `t_province`
        where t_city.city_name = t_province.city AND education_yon = #{studentFrom.education_yon} AND city_year = #{studentFrom.city_year} AND city_studentFrom &lt; #{studentFrom.max} AND city_studentFrom &gt;= #{studentFrom.min}
    </select>

    <select id="Select3" resultMap="studentFrom">
        SELECT `city_name`, `city_year`,`education_yon`, `city_studentFrom`,`province`
        FROM `t_city`, `t_province`
        where t_city.city_name = t_province.city AND education_yon = #{studentFrom.education_yon} AND city_year = #{studentFrom.city_year} AND city_name =#{studentFrom.city_name} AND city_studentFrom &lt; #{studentFrom.max} AND city_studentFrom &gt;= #{studentFrom.min}
    </select>

    <select id="Select4" resultMap="studentFrom">
        SELECT `city_name`, `city_year`,`education_yon`, `city_studentFrom`,`province`
        FROM `t_city`, `t_province`
        where t_city.city_name = t_province.city AND education_yon = #{studentFrom.education_yon} AND city_year = #{studentFrom.city_year}
    </select>
</mapper>