spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1/db_nenu_market?autoReconnect=true&useSSL=false&characterEncoding=utf-8
    username: root
    password: mysql
#    password: Join666
    type: com.alibaba.druid.pool.DruidDataSource
    # 下面为连接池的补充设置，应用到上面所有数据源中
    # 初始化大小，最小，最大
    initialSize: 1
    minIdle: 3

    maxActive: 20
    # 配置获取连接等待超时的时间
    maxWait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 30000
#    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    # 打开PSCache，并且指定每个连接上PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    # 合并多个DruidDataSource的监控数据
    useGlobalDataSourceStat: true
server:
  port: 8084

mybatis:
  configuration:
    cache-enabled: true
  #实体类所做包
  type-aliases-package: com.nenu.market.entity
  #mapper.xml所在位置
  mapper-locations: classpath:mapper/*/*.xml
redis:
  host: 127.0.0.1
  port: 6379
  timeout: 5000
  database: 0
  password:

---
spring:
  profiles: prod
  datasource:
    url: jdbc:mysql://47.103.10.220/db_nenu_market?autoReconnect=true&useSSL=false&characterEncoding=utf-8
    username: root
    password: Join666
redis:
  host: 47.103.10.220
  port: 6379
  timeout: 5000
  database: 0
  password: