<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.market.mapper.city.VisitMapper">
    <resultMap id="VisitMapper" type="com.nenu.market.entity.city.Education">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="year" jdbcType="INTEGER" property="year" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city_name" jdbcType="VARCHAR" property="city_name" />
        <result column="city_visit" jdbcType="VARCHAR" property="city_visit" />
        <result column="education_yon" jdbcType="VARCHAR" property="education_yon" />
    </resultMap>

    <!--遍历-->
    <select id="listAllVisit" resultType="com.nenu.market.entity.city.Education">
        select education_yon,city_name,province,city_visit
        from t_city,t_province
        where t_city.city_name = t_province.city
    </select>

    <!--根据是否为教育类/城市名称/权重分析 查询-->
    <select id="queryVisitByKeyword" resultType="com.nenu.market.entity.city.Education">
        select education_yon,city_name,province,city_visit
        from t_city,t_province
        where 1 = 1
        <if test="education_yon != null">
            and education_yon = #{education_yon,jdbcType=INTEGER}
        </if>
        <if test="city_name != null">
            and city_name = #{city_name,jdbcType=INTEGER}
        </if>
        <if test="city_visit != null">
            and city_visit = #{city_visit,jdbcType=INTEGER}
        </if>
    </select>

</mapper>